<!DOCTYPE HTML>
<html>

<head>
    <title>{{titlebar}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/media/favicon.ico">
</head>

<body>
    <div class="main">
        {{>header}}

        <p>{{error}}</p>
    </div>

    {{>footer}}
</body>

</html>