<!DOCTYPE HTML>
<html>

<head>
    <title>{{titlebar}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    
        <meta http-equiv="Content-Security-Policy"
            content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
</head>

<body>
    <div class="main">
        {{>header}}

        <p>{{error}}</p>
    </div>

    {{>footer}}
</body>

</html>