<!DOCTYPE HTML>
<html>
    <head>
        <title>About</title>
        <link type="text/css" rel="stylesheet" href="css/styles.css">
            <meta http-equiv="Content-Security-Policy"
                content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
        
    </head>
    <body>
        <div class="main">
            {{>header}}
            
            <p>
                This site was created by {{name}}.
                It is powered by mapbox and darksky.
            </p>
            <img class="lucky" src="media/lucky.png">
            <p>Cool details about this app.</p>
        </div>

        {{>footer}}
    </body>
</html>