<!DOCTYPE HTML>
<html>
    <head>
        <title>About</title>
        <link type="text/css" rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="/media/favicon.ico">
    </head>
    <body>
        <div class="main">
            {{>header}}
            
            <img class="lucky" src="media/lucky.png">
            <p>Cool details about this app.</p>
        </div>

        {{>footer}}
    </body>
</html>