<!DOCTYPE HTML>
<html>
    <head>
        <title>Help</title>
        <link type="text/css" rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="/media/favicon.ico">
    </head>
    <body>
        <div class="main">
            {{>header}}
            
            <p>Welcome to the help page.</p>
        </div>

        {{>footer}}
    </body>
</html>